body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Koulen, serif;
    height: 100vh;
}

.container__main {
    background-color: #424242;
    max-width: 90vh;
    border-radius: 1rem;
}

.wrapper__main {
    padding: 3rem;
}

.slider {
    display: flex;
    flex-direction: column
}

.container__image {
    margin-bottom: 2rem;
    border-radius: 1.4rem;
    overflow: hidden;
}

.wrapper__image {
    display: flex;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.image {
    width: 100%;
    min-width: 100%;
}

.container__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.container__title {
    overflow: hidden;
}

.wrapper__title {
    display: flex;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}

.title {
    font-size: 1.4rem;
    color: white;
    min-width: 100%;
}

.wrapper__button {
    display: flex;
}

.button {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    display: flex;
    background-color: PaleGoldenRod;
    border: 3px solid PaleGoldenRod;
    border-radius: 50%;
    transition-duration: .4s;
}

label {
    padding: 1rem;
    cursor: pointer;
}

label:hover .button {
    background-color: white;
    border-color: white;
}

.slider input:nth-child(1):checked ~ .container__image > .wrapper__image,
.slider input:nth-child(1):checked ~ .container__bottom > .container__title > .wrapper__title {
    transform: translateX(0%);
}

.slider input:nth-child(2):checked ~ .container__image > .wrapper__image,
.slider input:nth-child(2):checked ~ .container__bottom > .container__title > .wrapper__title {
    transform: translateX(-100%);
}

.slider input:nth-child(3):checked ~ .container__image > .wrapper__image,
.slider input:nth-child(3):checked ~ .container__bottom > .container__title > .wrapper__title {
    transform: translateX(-200%);
}

.slider input:nth-child(4):checked ~ .container__image > .wrapper__image,
.slider input:nth-child(4):checked ~ .container__bottom > .container__title > .wrapper__title {
    transform: translateX(-300%);
}

.slider input:nth-child(1):checked ~ .container__bottom > .wrapper__button label:nth-of-type(1) > span,
.slider input:nth-child(2):checked ~ .container__bottom > .wrapper__button label:nth-of-type(2) > span,
.slider input:nth-child(3):checked ~ .container__bottom > .wrapper__button label:nth-of-type(3) > span,
.slider input:nth-child(4):checked ~ .container__bottom > .wrapper__button label:nth-of-type(4) > span {
    border-color: PaleGoldenRod;
    background: none;
}

.slider input:nth-child(1):hover ~ .container__bottom > .wrapper__button label:nth-of-type(1) > span,
.slider input:nth-child(2):hover ~ .container__bottom > .wrapper__button label:nth-of-type(2) > span,
.slider input:nth-child(3):hover ~ .container__bottom > .wrapper__button label:nth-of-type(3) > span,
.slider input:nth-child(4):hover ~ .container__bottom > .wrapper__button label:nth-of-type(4) > span{
    border-color: white;
}

.slider input:nth-child(1):active ~ .container__bottom > .wrapper__button label:nth-of-type(1) > span,
.slider input:nth-child(2):active ~ .container__bottom > .wrapper__button label:nth-of-type(2) > span,
.slider input:nth-child(3):active ~ .container__bottom > .wrapper__button label:nth-of-type(3) > span,
.slider input:nth-child(4):active ~ .container__bottom > .wrapper__button label:nth-of-type(4) > span {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {

    .wrapper__main{
        padding: 2rem;
    }

    .container__bottom{
        flex-direction: column-reverse;
        gap: 1rem
    }

    .container__image{
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-height: 768px) {

    .wrapper__main{
        padding: 2rem;
    }

    .container__bottom{
        flex-direction: column-reverse;
        gap: 1rem
    }

    .container__image{
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 490px) {

    .title{
        font-size: .9rem;
    }
}
